@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 커스텀 폰트 클래스 추가 */
.font-snippet {
  font-family: var(--font-snippet), serif;
}

.font-noto {
  font-family: var(--font-noto-sans), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-abyssinica {
  font-family: var(--font-abyssinica), serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
